Flask==3.1.0
Flask-Mail==0.10.0
cryptography==44.0.0
joblib==1.4.2
numpy==1.26.4
tensorflow==2.16.2
Pillow==11.1.0
fpdf2==2.8.7
transformers==4.49.0
scikit-learn==1.6.1
python-dotenv==1.0.1
gunicorn==23.0.0
Flask-SQLAlchemy==3.1.1
scipy==1.15.1
